@import "tailwindcss";

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  background-color: #222831;
  color: #eeeeee;
  /* 31363F -> header
     76ABAE -> blue kamrang */
}

body {
  max-width: 1280px;
  min-height: 100vh;
  margin: 0 auto;
  padding: 1rem;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

.pagination p {
  @apply font-semibold border border-[#76ABAE] w-6 h-6 text-center rounded-md hover:bg-[#76ABAE]/30;
}

.selected {
  @apply bg-[#76ABAE]/40;
}

.pagination span {
  @apply font-semibold;
}
